.base {
  background-color: #282c34;
  min-height: calc(100vh - 112px);
  color: white;
}

.site-name {
  color: #61dafb;
}

.code {
  display: block !important;
  height: 30vh;
  overflow-y: scroll;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.memory {
  height: 50vh;
  font-size: calc(8px + 1vmin);
  overflow-y: scroll;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.token {
  cursor: pointer;
  &:hover {
    background: #e66f7b;
  }
}

.result {
  background: white !important;
}

.footer-link {
  color: white;
}
